.tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

img {
    width: 30%;
}

main {
    width: 50%;
    align-items: center;
}
.navigation{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.far {
    display: flex;
    color: white;
    flex-direction: row-reverse;
}
.fas {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.5em;
}

h3 {
    color: antiquewhite;
}

.tarjeta2{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.img2{
    width: 100%;
    margin-bottom: 20px;
}

.main2{
    width: 100%;
}

.description{
    margin-top: 1em;
    padding: 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}