/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #0a0a0ad5;
  color: white;
  margin-top: 1em;
}

footer h3 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: white;
  margin: 0px 0px 0px 0px
}

.networks {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.8em;
  list-style:none;
}

.eachnetwork {
  width: 2.3em;
  margin: 0px 10px 0px 0px
}

.divisor {
  width: 50%;
  margin: 0em 0em 1em 0em;
  clear: both;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

h4 {
  text-align: left;
  margin: 0px 0px;
  margin-top: 1em;
}

.rowalign {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0%;
}

.rowalign p {
  width: 100%;
  font-size: 1em;
  line-height: 1.7em;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: white;
}

.copyrigth {
  font-size: 70%;
  margin: 0em;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.creditos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2em;
}


.creditos div{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 1em;
}

.creditos div h3{
  font-size: 1.2em;
  color: white;
}

.creditos img{
  width: 40%;
  margin-top: 1em;
 
}




@media only screen and (min-width: 768px) {

  footer {
    align-items: center;
    margin-bottom: 0em;
    padding: 1em 0em 0.5em 0em;
  }

  footer h4 {
    font-size: 1.2em;
    color: white;
    margin: 0px 0px;
  }

  .networks {
    flex-direction: row;
    justify-content: center;
    margin: 1em 0px 0px 0px;
    margin-bottom: 2em;
    padding: 0%;
  }

  .networks ul{
    padding-left: 0px;
  }

  .rowalign {
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 0px 1em 0px;
  }

  .rowalign p {
text-align: center;
  }
  
  .creditos{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  }
  
  .creditos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    }

  .copyrigth {
    justify-content: center;
  }
}