
  /* Img Portada */
  .fotoscarrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  }

  .fotoscarrusel li{
    max-height: auto;
    
  }

  .img-carru{
    width: 100%;
    object-fit: cover;
  }
  
  .uk-slideshow-items>* {
  display: flex;
  justify-content: center;
  }
  
  .Slideshow:focus {
    border: none;
  }

  @media only screen and (min-width: 1134px) {
    
    /* Img Portada */
    .fotoscarrusel {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 18em !important;
      height: 5px;
    }
    }
    